.aboutBG
{
    height: 90vh;
    background-color: whitesmoke;
}

.aboutOurStoryHead
{
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    line-height: 70px;
    padding: 3vh;
    font-variant: small-caps;
}

.aboutOurStoryContent
{
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 20px;
    /* padding-top: 2vh; */
}

.teamContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 55vh;
    color: white;
    padding-top: 3vh;
}

.teamMemberCard
{
    width: 18vw;
    height: 45vh;
    /* padding: 3vh; */
    padding-top: 5vh;
    background-color: lightblue;
    border-radius: 10px;
    transition: 0.7s;
    color: black;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.teamMemberCard:hover{
    background-color: rgb(52, 52, 52);
    color: white;
}

.teamMemberImage{
    height: 25vh;
}

.name
{
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.teamCardContent
{
    display: flex;
    flex-direction: column;
    height: 20vh;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}