.ContactPageContainer{
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.ContactLeft{
    /* background-color: rgb(232, 232, 232); */
    height: fit-content;
    width: 30vw;
    padding: 3vh;
    color: white;
    padding-top: 2vh;
    background-color: rgb(27, 21, 29);
    border-radius: 10px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ContactHeading{
    color: #6a6a6a;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
}
.ContactDetails{
    font-size: larger;
    font-style: italic;
}
