.loginCardHolder{
    display: flex;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /* background-color: black; */
    align-items: center;
}

.loginCard{
    height: 50vh;
    width: 30vw;
    color: blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.loginIcon{
    height: 30vh;
    width: 30vh;
    color: rgba(9,9,121,1) 35%;
}
.loginFields{
    margin: 2vh;
}
.loginButton{
    margin: 2vh;
}